<%- include('partials/header.ejs') %> 


    <main>
        <% if(error=='') { %> 
            <p></p>
        <% } %>
         <% if(error !='') { %> 
           <p style="color:black; padding-top: 80px; text-align: center; padding-bottom:300px;font-family: 'Montserrat';"><%= error %></p>
        <% } %> 
        <p style="font-size: 22px; text-align: center; font-family: 'Montserrat'; font-weight: 700; padding-top: 30px; color: #094074;"><%= heading %> </p>
       <div class="boxes">
        <!-- <div class="box">
                 <img src="./images.jpg" alt=""> 
             <p><a href="#" style="color: black;">Download 3 Idiots movie Movie (2009){Hindi-English} 480P[400MB] || 720P[1.1GB]</a></p>
        </div> -->
        <% for (var i = 0; i<homepagemovies.length; i++) { %> 
        <div class="box">
    
                 <!-- <img src="./<=homepagemovies[i].bannerImage%>"  alt=""> just add % sign 
                 -->
                 <img src="data:result/<%=homepagemovies[i].bannerImage.contentType%>;base64,
                     <%=homepagemovies[i].bannerImage.data.toString('base64')%>">
             <p><a href="/getFile/<%=homepagemovies[i].id%> " style="color: black;"><%=homepagemovies[i].fullName%></a></p>
        </div>

     <% } %>

      </div>
    </main>
<%- include('partials/footer.ejs') %> 

 